<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "Netbanking_v1">

<listeners>
    <listener class-name ="com.Netbanking.utilities.Listeners"/>
</listeners>

	<test name = "Banking Application test">
	
	<parameter name ="browser" value="chrome"/>
	<classes>
		<class name = "com.Netbanking.testCases.TC001_LoginTest"/>
	</classes>

	</test>
</suite>